@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../assets/fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
.apartments-side {
  position: absolute;
  top: 56px;
  left: -295px;
  width: 336px;
  height: calc(100% - 56px - 80px);
  box-sizing: border-box;
  background: rgba(255, 254, 254, 0.5) 0% 0% no-repeat padding-box;
  backdrop-filter: blur(40px) !important;
  -webkit-backdrop-filter: blur(40px) !important;
  -moz-filter: blur(40px);
  transition: all 0.15s ease-in-out !important;
  z-index: 10;
  display: none;
  overflow: hidden;
  padding-top: 8px;
}
.apartments-side.active {
  display: block;
  opacity: 0;
}
.apartments-side.anim {
  transition: all 0.15s ease-in-out !important;
  opacity: 1;
}
.apartments-side.active {
  display: block;
}
.apartments-side.anim {
  transition: all 0.25s ease-in-out;
  left: 82px;
}
.apartments-side::before {
  display: block;
  width: 100%;
  height: 139px;
  content: "";
  background: rgba(255, 254, 254, 0.4);
}
.apartments-side .apartments-wrapper {
  position: absolute;
  width: inherit;
  height: inherit;
  overflow: auto;
}
.apartments-side .title {
  position: absolute;
  top: 32px;
  width: calc(100% - 32px);
  font-family: "Montserrat-SemiBold";
  font-size: 1.5em;
  color: #292930;
  letter-spacing: -0.48px;
  line-height: 24px;
  margin: 0px;
  text-align: left;
  margin-left: 16px;
}
.apartments-side .title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 8px;
  background-color: #292930;
}
.apartments-side .button > div {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  height: 40px;
  color: #FFFEFE;
  background: #292930;
  font-family: "Montserrat-Medium";
  font-size: 0.875em;
  letter-spacing: 0.14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-radius: 6px;
  cursor: pointer;
}
.apartments-side .button > div:hover {
  color: #292930;
  background: #FFFEFE;
}
.apartments-side .filter {
  position: absolute;
  top: 83px;
  height: calc(100% - 83px);
  width: 100%;
  overflow: hidden;
  background: rgba(255, 254, 254, 0.4);
}
.apartments-side .filter > div {
  height: 100%;
}
.apartments-side .filter .container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.apartments-side .filter .container .filter-cat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 16px 24px;
}
.apartments-side .filter .container .filter-cat-results {
  display: block;
  overflow: auto;
  height: auto;
}
.apartments-side .filter .container .filter-cat-results:nth-last-child(1) {
  border-bottom: 1px solid rgba(41, 41, 48, 0.2);
}
.apartments-side .filter .container .filter-cat-results .byt {
  position: relative;
  background: rgba(255, 254, 254, 0.8);
  border: 1px solid transparent;
  box-sizing: border-box !important;
  height: 94px;
}
.apartments-side .filter .container .filter-cat-results .byt:before {
  content: "";
  position: absolute;
  top: -1px;
  width: 100%;
  height: 1px;
  display: block;
  border-top: 1px solid rgba(41, 41, 48, 0.2);
}
.apartments-side .filter .container .filter-cat-results .byt.selected:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 96px;
  top: -2px;
  left: -2px;
  background-color: #292930;
}
.apartments-side .filter .container .filter-cat-results .byt:hover {
  border: 1px solid #5956e9;
  background: #f3f1f1;
}
.apartments-side .filter .container .filter-cat-results .byt.last-visited {
  background-color: rgba(41, 41, 48, 0.2);
}
.apartments-side .filter .container .filter-cat-results .byt .title {
  position: absolute;
  top: 9px;
  left: 16px;
  font-family: "Montserrat-Bold";
  font-size: 1.125em;
  letter-spacing: 0.18px;
  color: #292930;
  text-align: left;
  margin: 0;
}
.apartments-side .filter .container .filter-cat-results .byt .title::after {
  display: none;
}
.apartments-side .filter .container .filter-cat-results .byt .price {
  position: absolute;
  top: 31px;
  left: 16px;
  font-family: "Montserrat-Medium";
  font-size: 0.875em;
  letter-spacing: 0px;
  color: rgba(41, 41, 48, 0.7);
  text-align: left;
}
.apartments-side .filter .container .filter-cat-results .byt .size, .apartments-side .filter .container .filter-cat-results .byt .stock, .apartments-side .filter .container .filter-cat-results .byt .rooms, .apartments-side .filter .container .filter-cat-results .byt .last-visited-txt {
  display: block;
  position: absolute;
  font-family: "Montserrat-Medium";
  font-size: 0.75em;
  letter-spacing: 0px;
  color: #292930;
  text-align: left;
}
.apartments-side .filter .container .filter-cat-results .byt .size span, .apartments-side .filter .container .filter-cat-results .byt .stock span, .apartments-side .filter .container .filter-cat-results .byt .rooms span, .apartments-side .filter .container .filter-cat-results .byt .last-visited-txt span {
  font-family: "Montserrat-Medium";
  font-size: 10px;
  letter-spacing: 0px;
  color: rgba(41, 41, 48, 0.7);
  text-transform: none;
  text-align: left;
  display: block;
}
.apartments-side .filter .container .filter-cat-results .byt .size {
  top: 59px;
  left: 16px;
}
.apartments-side .filter .container .filter-cat-results .byt .stock {
  top: 59px;
  left: 139px;
}
.apartments-side .filter .container .filter-cat-results .byt .rooms {
  top: 59px;
  left: 224px;
}
.apartments-side .filter .container .filter-cat-results .byt .last-visited-txt {
  top: 59px;
  left: auto;
  right: 8px;
  color: #5956e9;
  white-space: pre-wrap;
  text-align: right;
}
.apartments-side .filter .container .filter-cat-results .byt .last-visited-txt span {
  color: inherit;
  text-align: inherit;
}
.apartments-side .filter .container .filter-cat-results .byt .byt-wrapper {
  height: 100%;
  width: 100%;
}
.apartments-side .filter .container .filter-cat-results .byt .tour {
  position: absolute;
  top: 9px;
  right: 8px;
  background-image: url(../../assets/icons/tour-button.svg);
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.apartments-side .filter .container .last-visited-button {
  position: absolute;
  width: 304px;
  height: 40px;
  background-color: #5956e9;
  border-radius: 6px;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
.apartments-side .filter .container .last-visited-button.visible {
  display: flex;
}
.apartments-side .filter .container .filter-cat-results .f-cat {
  opacity: 0;
  display: none;
}
.apartments-side .filter .container .filter-cat-results .f-cat.active {
  opacity: 1;
  display: block;
  -webkit-animation: fadeIn 0.65s ease forwards;
  animation: fadeIn 0.65s ease forwards;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #292930;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  font-family: "Montserrat-Medium";
  font-size: 0.75em;
  letter-spacing: 0.12px;
  font-weight: normal;
  color: #292930;
  height: 32px;
  outline: none;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 96px;
}
.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}

.nice-select:after {
  content: "";
  display: block;
  height: 6px;
  pointer-events: none;
  position: absolute;
  right: 8.49px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../../assets/icons/select_arrow.svg);
  background-repeat: no-repeat;
  background-size: 10.51px 6px;
  transition: all 0.15s ease-in-out;
  width: 10.51px;
}

.nice-select.open:after {
  transform-origin: 50% 25%;
  transform: rotate(-180deg);
}

.nice-select.open .list {
  max-height: 133px;
  overflow: auto;
  width: inherit;
  border-radius: 6px;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 32px;
  min-height: 32px;
  border-bottom: 1px solid rgba(41, 41, 48, 0.2);
}

.nice-select .list {
  background-color: #fff;
  border: 1px solid #292930;
  box-sizing: border-box;
  margin-top: 8px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  height: 32px;
  cursor: pointer;
  list-style: none;
  border-bottom: 1px solid rgba(41, 41, 48, 0.2);
  outline: none;
  padding-left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s;
}
.nice-select .option:nth-last-child(1) {
  border-bottom: 0px;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

.footer-apartments {
  bottom: 16px;
  lefT: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.footer-apartments .orientation-button {
  position: relative !important;
  border: 1px solid rgba(255, 254, 254, 0.6) !important;
  border-radius: 10px !important;
  border-spacing: 5px !important;
  padding: 5px !important;
  cursor: pointer !important;
}
.footer-apartments .orientation-button > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative !important;
  height: 40px !important;
  width: auto !important;
  font-family: "Montserrat-Medium";
  color: #292930 !important;
  font-size: 14px !important;
  letter-spacing: 0.14px;
  padding: 0 16px !important;
  border-radius: 10px !important;
  background: #fffefe !important;
  cursor: pointer !important;
  white-space: nowrap;
}
.footer-apartments .orientation-button:hover {
  border: 1px solid rgba(41, 41, 48, 0.6) !important;
}
.footer-apartments .orientation-button:hover > div {
  color: #fffefe !important;
  background-color: #292930 !important;
}
.footer-apartments .orientation {
  font-family: "Montserrat-Medium" !important;
  font-size: 0.75em !important;
  letter-spacing: 0.12px !important;
  text-align: left !important;
  margin-left: 16px;
  padding: 0 !important;
  width: 96px;
  height: 40px;
  background-color: #FFFEFE;
  box-shadow: 0px 4px 10px #29293026;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #292930;
}
.footer-apartments .orientation > div {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.footer-apartments .orientation > div img {
  width: 24px;
  height: 24px;
  margin: 0px 8px;
}
.footer-apartments .orientation > div img.juh {
  transform: rotate(180deg);
}
.footer-apartments .orientation > div img.zapad {
  transform: rotate(-90deg);
}
.footer-apartments .orientation > div img.vychod {
  transform: rotate(90deg);
}
.footer-apartments .orientation.hidden {
  display: none !important;
}

.arrows {
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid rgba(255, 254, 254, 0.6);
  border-radius: 6px;
  border-spacing: 10px;
  box-shadow: 0px 4px 10px rgba(41, 41, 48, 0.15);
  width: 50px;
  height: 50px;
  cursor: pointer !important;
}
.arrows img {
  position: relative !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 40px !important;
  height: 40px !important;
  cursor: pointer !important;
}
.arrows.rgt-arrow {
  right: 16px;
  background: url(../icons/arrow_right.svg);
}
.arrows.rgt-arrow:hover {
  background: url(../icons/arrow_right_hover.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.arrows.lft-arrow {
  left: 16px;
  background: url(../icons/arrow_left.svg);
}
.arrows.lft-arrow:hover {
  background: url(../icons/arrow_left_hover.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.arrows.rgt-arrow, .arrows.lft-arrow {
  background-repeat: no-repeat;
  background-position: center center;
}
.arrows.rgt-arrow.hidden, .arrows.lft-arrow.hidden {
  display: none !important;
}

.intro-help {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 512px;
  border-radius: 6px;
  background: rgba(41, 41, 48, 0.5) 0% 0% no-repeat padding-box;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  -moz-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease-in-out;
  z-index: 100;
}
.intro-help.hidden {
  width: 50%;
  height: 50%;
  opacity: 0;
  visibility: hidden;
}
.intro-help .title {
  position: relative;
  font-family: "Montserrat-Bold";
  font-size: 36px;
  color: #fffefe;
  letter-spacing: 0.36px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 48px;
}
.intro-help .icons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 67.29px;
}
.intro-help .icons .icons-container, .intro-help .icons .icons-container-mobile {
  position: relative !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 68.5px;
}
.intro-help .icons .icons-container .icon-img, .intro-help .icons .icons-container-mobile .icon-img {
  position: relative !important;
  width: auto;
  max-width: 124px;
  margin-bottom: 36.89px;
}
.intro-help .icons .icons-container .icon-img.small, .intro-help .icons .icons-container-mobile .icon-img.small {
  margin-top: 24px;
}
.intro-help .icons .icons-container .icon-img img, .intro-help .icons .icons-container-mobile .icon-img img {
  position: relative !important;
  width: auto;
  max-width: 124px;
  max-height: 149.81px;
}
.intro-help .icons .icons-container .description-desktop, .intro-help .icons .icons-container .description-mobile, .intro-help .icons .icons-container-mobile .description-desktop, .intro-help .icons .icons-container-mobile .description-mobile {
  position: relative;
  width: auto;
  max-width: 120px;
  color: #FFFEFE;
  font-family: "Montserrat-Medium";
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 20px;
  text-align: center;
  white-space: pre-wrap;
}
.intro-help .icons .icons-container .description-desktop::after, .intro-help .icons .icons-container .description-mobile::after, .intro-help .icons .icons-container-mobile .description-desktop::after, .intro-help .icons .icons-container-mobile .description-mobile::after {
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: 8.29px;
  width: 48px;
  height: 3px;
  content: "";
  background-color: rgba(255, 255, 255, 0.6);
}
.intro-help .icons > img {
  position: relative;
}
.intro-help .button {
  position: relative;
  width: auto;
  height: 40px;
  color: #fffefe;
  background-color: transparent;
  font-family: "Montserrat-Medium";
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 32px;
  text-align: center;
  border: 2px solid #fffefe;
  padding: 0px 64px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.intro-help .button:hover {
  background: #fffefe;
  color: #292930;
}
.intro-help .input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.intro-help .input input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.intro-help .input input:checked + label:before {
  background-image: url(../icons/checked-hlp.svg);
}
.intro-help .input input:checked + label {
  color: #fffefe;
}
.intro-help .input label {
  font-family: "Montserrat-Regular";
  font-size: 10px;
  letter-spacing: 0px;
  color: rgba(255, 254, 254, 0.6);
  position: relative;
  padding-left: 24.42px;
  cursor: pointer;
}
.intro-help .input label:before {
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 15.98px;
  height: 16px;
  background-image: url(../icons/check-hlp.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (hover: hover) {
  .icons .icons-container-icon {
    display: flex;
  }
  .icons .description-desktop {
    display: block;
  }
  .icons .icons-container-mobile-icon {
    display: none;
  }
  .icons .description-mobile {
    display: none;
  }
}
@media (hover: hover) and (max-width: 1024px), (hover: hover) and (max-height: 768px) {
  .icons {
    margin-bottom: 47.21px !important;
  }
  .icons .icon-img img {
    height: 135.49px !important;
  }
  .icons .small img {
    height: 102.4px !important;
  }

  .icons-container {
    margin: 0px 56px !important;
  }
}
@media (hover: none) {
  .icons .icons-container-icon {
    display: none !important;
  }
  .icons .description-desktop {
    display: none !important;
  }
  .icons .icons-container-mobile-icon {
    display: flex !important;
  }
  .icons .description-mobile {
    display: block !important;
  }
}
@media (hover: none) and (max-width: 1024px), (hover: none) and (max-height: 768px) {
  .icons {
    margin-bottom: 47.21px !important;
  }
  .icons .icon-img.right img {
    height: 132.33px !important;
  }
  .icons .icon-img img {
    height: 135.49px !important;
  }

  .icons-container {
    margin: 0px 56px !important;
  }
}
@media (hover: none) and (max-width: 375px) {
  .icons-container {
    margin: 0px 32px !important;
  }
  .icons-container .description-mobile {
    font-size: 12px !important;
    width: 90px;
  }
}
@media (max-width: 766px) {
  .intro-help {
    width: calc(100% - 32px);
  }
}
@media (max-height: 544px) {
  .intro-help {
    height: calc(100% - 32px);
  }
}
@media (max-width: 500px) {
  .apartments-side {
    height: calc(100% - 56px - 136px) !important;
  }
  .apartments-side.anim {
    lefT: 0px !important;
  }

  .footer-apartments {
    bottom: 70px;
  }
}
@media (max-width: 375px) {
  .footer-apartments {
    bottom: 70px;
  }

  .apartments-side {
    height: calc(100% - 56px - 136px) !important;
  }
  .apartments-side.anim {
    lefT: 0px !important;
  }
}