.white {
    background-color: #fff;
}

.black {
    background-color: #000;
} 

.grey {
    background-color: #AFAFAF;
}

.gladstone {
    background-image: url('../../assets/icons/hotspots-color/gladstone.jpg');
}

.heraklit {
    background-image: url('../../assets/icons/hotspots-color/heraklit.jpg');
}                    

.modrin {
    background-image: url('../../assets/icons/hotspots-color/modrin.jpg');
}

.mirror {
    background-image: url('../../assets/icons/hotspots-color/mirror.jpg');
}                    

.plywood {
    background-image: url('../../assets/icons/hotspots-color/plywood.jpg');
}                                        

.rasters {
    background-image: url('../../assets/icons/hotspots-color/rasters.jpg');
}      
.none {
    background: linear-gradient(to top left, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) calc(50% - 0.8px), red 50%, rgba(255, 0, 0, 0) calc(50% + 0.8px), rgba(255, 0, 0, 0) 100%), linear-gradient(to top right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) calc(50% - 0.8px), red 50%, rgba(255, 0, 0, 0) calc(50% + 0.8px), rgba(255, 0, 0, 0) 100%) !important;
    //border: 1px solid rgba(41, 41, 48, 0.7);
}

