// Variables
$main-color: rgba(41, 41, 48, 1); //#292930
$blue: rgba(89, 86, 233, 1);
$time: 0.15s;
$intro-time: 2s;
$browser-context: 16; // Default


@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}





@mixin show-hide-element {
    -webkit-transition: all $time ease-in-out !important;
    -moz-transition: all $time ease-out!important;
    -o-transition: all $time ease-in-out!important;
    transition: all $time ease-in-out!important;

    &.active {
        display: block;
        opacity: 0;
    }

    &.anim {
        -webkit-transition: all $time ease-in-out !important;
        -moz-transition: all $time ease-out !important;
        -o-transition: all $time ease-in-out !important;
        transition: all $time ease-in-out !important;
        opacity: 1;
    }
}

@mixin show-hide-element-intro {
    -webkit-transition: all $intro-time ease-in-out !important;
    -moz-transition: all $intro-time ease-out!important;
    -o-transition: all $intro-time ease-in-out!important;
    transition: all $intro-time ease-in-out!important;

    &.active {
        display: block;
        opacity: 0;
    }

    &.anim {
        -webkit-transition: all $intro-time ease-in-out !important;
        -moz-transition: all $intro-time ease-out !important;
        -o-transition: all $intro-time ease-in-out !important;
        transition: all $intro-time ease-in-out !important;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}


@mixin blur {
    background: rgba(255, 254, 254, 0.5) 0% 0% no-repeat padding-box;
    backdrop-filter: blur(40px) !important;
    -webkit-backdrop-filter: blur(40px) !important;
    -moz-filter: blur(40px);

}

@mixin semi-blur {
    background: rgba(255, 254, 254, 0.5) 0% 0% no-repeat padding-box;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    -moz-filter: blur(10px);
}

@mixin semi-dark-blur {
    background: rgba(41, 41, 48, 0.5) 0% 0% no-repeat padding-box;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    -moz-filter: blur(10px);
}

@mixin transition ($time: 0.25s) {
	-webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-out;
    -o-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}

@mixin transition-scale ($time: 0.25s) {
	-webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-out;
    -o-transition: all $time ease-in-out;
    transition: all $time ease-in-out;

}


@mixin header1 {
    font-family: 'Montserrat-Bold';
    font-weight: bold;
    font-size: em(36);
    color: $main-color;
    letter-spacing: -0.72px;
    line-height: 32px;
    margin: 0px;
}

@mixin header2 {
    font-family: 'Montserrat-SemiBold';
    font-size: em(24);
    color: $main-color;
    letter-spacing: -0.48px;
    line-height: 24px;
    margin: 0px;
}

@mixin body-3-descriptions {
    font-family: 'Montserrat-Medium';
    font-size: em(14);
    letter-spacing: 0.14px;
    line-height: em(32);
    color: $main-color;
    margin: 0px;
    opacity: 0.7;
}

@mixin caption {
    font-family: 'Montserrat-Medium';
    font-size: em(10);
    letter-spacing: 0.0px;
    line-height: 32px;
    color: $main-color;
    margin: 0px;
}

@mixin  lhCrop($line-height) {
    &::before {
      content: '';
      display: block;
      height: 0;
      width: 0;
      margin-top: calc((-1 * #{$line-height}) / 0.5px);
    }
  }



@mixin input {
    border: 0px;
    background: transparent;
    font-family: 'Montserrat-Medium';
    color: rgba(41, 41, 48, 0.5);
    font-size: em(12);
    //padding-left: 50px;
}

@mixin input-text {
    input[type="text"] {
        width: 100%;    
        height: 40px;
        @include input;
        border: 1px solid $main-color;
        border-radius: 6px;
        padding-left: 29px;
        padding-right: 11px;
        box-sizing: border-box;
        background-image: url('../../assets/icons/writing.svg');
        background-repeat: no-repeat;
        background-position: 7.81px center;
        background-size: 14.11px 14.11px;

        &:focus {
            outline:0;
            border: 1px solid $blue;
        }
    }
}

@mixin input-password {
    input[type="password"] {
        width: 100%;    
        height: 40px;
        @include input;
        border: 1px solid $main-color;
        border-radius: 6px;
        padding-left: 29px;
        padding-right: 11px;
        box-sizing: border-box;
        background-image: url('../../assets/icons/writing.svg');
        background-repeat: no-repeat;
        background-position: 7.81px center;
        background-size: 14.11px 14.11px;

        &:focus {
            outline:0;
            border: 1px solid $blue;
        }
    }
}

@mixin rounded-corner {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


