.intro-take-tour {
  position: absolute;
  top: 50%;
  bottom: unset;
  right: -8%;
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
  /* outline: 10px solid rgba(117, 183, 39, 0.3); */
  box-shadow: 0 0 0 10px rgba(117, 183, 39, 0.3);
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.intro-take-tour:hover {
  /* outline: 10px solid #75b727; */
  box-shadow: 0 0 0 10px #75b727;
}
.intro-take-tour p, .intro-take-tour span {
  margin: 0;
  padding: 0;
  color: #E2001A;
  text-align: center;
}
.intro-take-tour p {
  font-size: 28px;
  line-height: 28px;
}
.intro-take-tour span {
  font-size: 32px;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
}

.vp-logo {
  z-index: 9 !important;
  cursor: pointer;
}

.icon-monitor, .icon-download {
  width: 110px;
  height: 110px;
  background-image: url("../../media/play_icon.png");
  background-position: center center;
  background-size: 80px;
  background-repeat: no-repeat;
  cursor: pointer !important;
  background-color: #f0f0f2;
  border-radius: 50%;
  box-shadow: 0 0 30px -3px rgba(0,0,0,0.4);
  opacity: 0.6;
  transition: opacity 0.25s ease, background-size 0.25s ease !important;
  }

  .icon-download {
    background-image: url("../../media/download_icon.png");
  }

.icon-monitor:hover, .icon-download:hover {
  opacity: 1;
  background-size: 90px;
}

@media (max-width: 810px) {
  .intro-take-tour{
    bottom: -110px;
    top: unset;
    right: 50%;
    width: 90px;
    height: 90px;

  }
  .intro-take-tour p {
    font-size: 20px;
    line-height: 20px;
  }
  .intro-take-tour span{
    font-size: 23px;
  }
}


.viva-tooltip {
  z-index: 2 !important;
}